.forecast-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.weather-cards-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.weather-data {
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    border-radius: 12px;
}
